.video {
	width: 480px;
	height: 320px;
	background: rgb(200,200,200);
}

.pushit {
	display: block;
	height:400px;
}

.brand {
	background: url('../img/logo.png') no-repeat 16px 0;
	text-indent: -9999px;
	width: 140px;
}

.hero-unit {
	background: none;
}